// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.image-wrapper {
    max-width: 200px; /* 画像の最大幅を指定 */
    max-height: 200px; /* 画像の最大高さを指定 */
  }
  
  .room-image {
    width: 100%; /* 画像を親要素の幅に合わせる */
    height: auto; /* 高さを自動調整する */
  }

  .image-wrapper1 {
    max-width: 500px; /* 画像の最大幅を指定 */
    max-height: 500px; /* 画像の最大高さを指定 */
  }

  h2{
    max-width: 200px; /* 画像の最大幅を指定 */
    max-height: 200px; /* 画像の最大高さを指定 */
  }
  