.user-wrapper {
    display: flex;
  }
  
  .user-settings {
    width: 30%; /* 左側の幅を調整 */
  }
  
  .user-info {
    width: 60%; /* 中央の幅を調整 */
  }
  
  .user-info h2 {
    font-size: 30px; /* 例: フォントサイズを24ピクセルに変更 */
  }